body {
  --h1-color: red;
  --h2-color: orange;
  --h3-color: yellow;
  --h4-color: green;
  --h5-color: blue;
  --h6-color: pink;
}

.textAll{
  color:rgb(188, 11, 11)
}

.inProgress{
  color:white;
  background-color:brown;
  padding:5px;
}
